/*------------------------------------*\

		COLORS
    green: #cfdd00;
    light-blue: #5ac1c5;
    dark-blue: #245267;
		black: #3c3c3c;
		off-white: #f7f7f7;

\*------------------------------------*/

